BeautifulSoup
Django
MySQL-python
Pygments
amqp
anyjson
argparse
billiard
boto
bzr
celery
django-celery
django-htmlmin
django-kombu
django-profiles
django-ratelimit
django-s3-cache
django-s3-folder-storage
django-ses
django-storages
django-templated-email
httplib2
importlib
kombu
mercurial
oauth2
ordereddict
pycurl
python-dateutil
python-magic
python-openid
pytz
simplejson
urlgrabber
