{% extends "admin/change_form.html" %}
{% load i18n %}

{% block branding %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block submit_buttons_top %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/admin.css" />
    {% include "apps/dojo.html" with dialogs=0 highlight=1 %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/dojo/bugs/admin.js"></script>
{% endblock %}

{% block object-tools-items %}
    {% for b in buttons %}
        <li><a href="{{ b.url }}/">{{ b.name }}</a></li>
    {% endfor %}
<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}

{% block after_related_objects %}
<div>
<ul class="object-tools">
    {% for b in buttons %}
        <li><a href="{{ b.url }}/">{{ b.name }}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}
