{% extends "base.html" %}
{% load include_if_exists %}
{% load fqdn_url from fqdn_url %}

{% block head %}
    <style type="text/css">
    @font-face {
      font-family: 'Russo One';
      font-style: normal;
      font-weight: 400;
      src: local('Russo One'), local('RussoOne-Regular'), url({{ STATIC_URL }}fonts/russo-one.woff) format('woff');
    }
    </style>
{% endblock %}

{% block title %}Analyze open source changes - Difio{% endblock %}

{% block content-top %}
<div id="content_top" style="min-height: 225px;">
    <div class="toplevel">
        <div style="float: left; max-width: 450px;">
            <div class="russo" style="font-size:30px;line-height:1.1em;"><em>Analyze open source changes</em></div>
            <br /><br />
<em>
&quot;If an application works, any change in its libraries or the versions of those libraries can break the application.&quot; - virtualenv
</em>
        <br /><br />
<strong>Difio keeps track of packages and tells you when they change.
After reading the change analytics you can make informed decision when or what to upgrade.
</strong>
<br/><br/>
<a class="button small green" href="#" onclick='dijit.byId("dlgRegister").show()'>
<strong>Add New App</strong>
</a> or <a href="#features">Learn More.</a>

        </div>

    <div style="float:right;">
        <table style="float:right;top:10px">
            {% include "apps/all_advisories_table.html" with object_list=context.updates truncate=1 %}
            {% if context.updates_count > 0 %}
            <tr>
                <td colspan="2" style="border: none;">
                    <h4 class="russo">{{ context.updates_count|default:11902 }} more analyzed</h4>
                </td>
            </tr>
            {% endif %}
        </table>

        <div class="sharing">
        {% include_if_exists "difio_index_share_buttons.html" %}
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div id="features" style="position: relative; z-index: -10; top: 0px;"></div>
    <div class="feature-box-left">
<h4 class="russo">Change Analytics</h4>

<img src="{{ STATIC_URL }}i/f/ch.png" alt="" class="framedimg popup" onclick='dijit.byId("dlgChlog").show()' />
<div id="dlgChlog" data-dojo-type="dojox.widget.Dialog" class="claro dialog" dimensions="[820,435]" style="display: none;">
    <img src="{{ STATIC_URL }}i/f/b/changelog.png" alt="" />
</div>

Compare arbitrary versions of software packages and see what changed
between them.
<br /><br />

Supports unlimited applications with no restrictions on package count.
Email and RSS notification available.
<br /><br />

Improves upgrades and test planning for critical applications!
    </div>




    <div class="feature-box-left">
<h4 class="russo">Multiple Tests</h4>

<img src="{{ STATIC_URL }}i/f/analytics.png" alt="" class="framedimg popup" onclick='dijit.byId("dlgAnalytics").show()' />
<div id="dlgAnalytics" data-dojo-type="dojox.widget.Dialog" class="claro dialog" dimensions="[624,360]" style="display: none;">
    <img src="{{ STATIC_URL }}i/f/b/analytics.png" alt="" />
</div>

Multiple <a href="{% fqdn_url 'analytics' %}">tests</a> are provided
to detect bad packaging practices, potential issues or known bugs.
<br /><br />

Some of them are <em>API diff</em>, <em>Package Size Change</em>, <em>Added non-text Files</em>, <em>Virus Scan</em>, <em>Permissions Change</em>.
<br /><br />

See for example <a href="{% fqdn_url 'advisory' 'django-facebook-4.2.11' 'django-facebook-4.3.0' 12243 %}">DIFIO-12243</a>, <a href="{% fqdn_url 'advisory' 'Django-1.4.3' 'Django-1.4.4' 12987 %}">DIFIO-12987</a>, <a href="{% fqdn_url 'advisory' 'factory_boy-1.2.0' 'factory_boy-2.0.0' 16005 %}">DIFIO-16005</a>.
    </div>




    <div class="feature-box-left">
<h4 class="russo">Open Source</h4>

<img src="{{ STATIC_URL }}i/f/code.png" alt="" class="framedimg" />

Difio is a Django based service developed the open source way!
Everyone is welcome to join.
<br /><br />

All essential components are open source including
status dashboard, import and analytics tasks!
<br /><br />

Patches are welcome at <a href="https://groups.google.com/forum/#!forum/difio-devel">difio-devel</a>
or via our <a href="https://github.com/difio/difio">GitHub repository</a>.
    </div>

{% include_if_exists "difio_index_extra_features.html" %}

<div class="packages">
    <h4 class="russo" style="position:relative;top:-10px;background-color:#e7f5f8;width:60%;margin:0;margin-left:auto;margin-right:auto;text-align:center">Supported Packages</h4>

    <img src="{{ STATIC_URL }}i/f/python.png" alt="Python" />
    <img src="{{ STATIC_URL }}i/f/ruby.png" alt="Ruby" />
    <img src="{{ STATIC_URL }}i/f/php.png" alt="PHP" /> 
    <img src="{{ STATIC_URL }}i/f/perl.png" alt="Perl"/>
    <img src="{{ STATIC_URL }}i/f/nodejs.png" alt="Node.js" /> 
    <img src="{{ STATIC_URL }}i/f/java.png" alt="Java" />
</div>

<div style="float:left;margin-top:40px; width:100%;border-top:solid 1px #607d91">
    <br/><br/>
    <a href="#" onclick='dijit.byId("dlgRegister").show()' class="button green medium" style="margin-left:auto;margin-right:auto;width:150px;display:block;text-align:center;">
        <strong>Add New App</strong>
    </a>
</div>


{% endblock %}
