{% extends "base.html" %}
{% load include_if_exists %}
{% load json_url from json_url %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/clearqs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/momentjs-2.0.0.min.js"></script>
    {% include "apps/dojo.html" with dialogs=0 highlight=1 %}
{% endblock %}
{% block title %}{{ advisory.get_title }}{% endblock %}
{% block body %}{% if is_admin != 1 %}onload="load_data('{% json_url advisory.get_path|add:'changelog.json' %}', {{ advisory.last_updated|date:'YmdHis' }}, true, true);"{% endif %}{% endblock %}

{% block content-top %}
<div id="content_top" style="min-height:30px;">
    <div class="toplevel" style="float:left;">
        <h2 style="margin:0;">Changes between {{ advisory.old }} and {{ advisory.new }}</h2>
    </div>
</div>
{% endblock %}

{% block content %}

<table style="float:left">
  <tr>
    <th class="vertical">Released on</th><td><a href="{{ advisory.old.package.index_url }}">{{ advisory.new.released_on|date:'d N Y' }}</a></td>
  </tr>
</table>

<table style="float:left;margin-right:20px;">
  <tr>
    <th class="vertical">Change rate</th>
        <td>
            {{ advisory.severity_img|safe }}
            &nbsp;{{ advisory.get_severity_display }}: {{ advisory.type }} %
        </td>
  </tr>
</table>

{% include_if_exists "difio_analytics_extra_header.html" %}

{% include "apps/tabs.html" %}
{% endblock %}

{% block content-bottom %}
{% include_if_exists "difio_comments.html" %}
{% endblock %}
