<style type="text/css">
    @import "{{ STATIC_URL }}js/dojo-1.7.2/dijit/themes/claro/claro.css";
    {% if dialogs == 1 %}@import "{{ STATIC_URL }}js/dojo-1.7.2/dojox/widget/Dialog/Dialog.css";{% endif %}
</style>
<script src="{{ STATIC_URL }}js/dojo-1.7.2/dojo/dojo.js" data-dojo-config="'async':false,'parseOnLoad':true" type="text/javascript"></script>
{% if dialogs == 1 %}<script type="text/javascript" src="{{ STATIC_URL }}js/dojo/require_dialog.js"></script>{% endif %}
{% if highlight == 1 %}
<script type="text/javascript" src="{{ STATIC_URL }}js/highlight/highlight.pack.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/highlight/styles/idea.css" />
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/dojo/update.js"></script>
