{% extends "base.html" %}
{% load fqdn_url from fqdn_url %}

{% block head %}
<script type="text/javascript">
collapsedImage='{{ STATIC_URL }}i/li/plus.jpg';
expandedImage='{{ STATIC_URL }}i/li/minus.jpg';
</script>
<script src="{{ STATIC_URL }}js/collapsibleLists.js" type="text/javascript"></script>
<script type="text/javascript">
if (window.addEventListener) {
    window.addEventListener("load", function(){makeCollapsible(document.getElementById('historyList'), 0);}, false);
} else if (window.attachEvent) {
    window.attachEvent("onload", function(){makeCollapsible(document.getElementById('historyList'), 0);});
} else {
    window.onload = function(){makeCollapsible(document.getElementById('historyList'), 0);};
}
</script>
{% endblock %}
{% block title %}History records{% endblock %}

{% block content-top %}
<div id="content_top" style="min-height:30px;">
    <div class="toplevel">
        <h2 style="float: left;">History records for {{ app.name }}</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<a href="{% fqdn_url 'appdetails' app.pk %}" class="button dark_blue small">Back To Application</a>
<br /><br />

<ul id="historyList" class="history">
    {% for h in context %}
        <li>
            {{ h.when_added}}
            <ul>
                <li>
                    <pre><code>{{ h.packages}}</code></pre>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
