<div id="helpDlg" data-dojo-type="dojox.widget.Dialog" class="claro dialog" dimensions="[600,600]" style="display:none;background-color:inherit;text-align:left;padding:10px">
<h2>
Applications
</h2>

<p>
In Difio you can import full set of application dependencies. This means
telling Difio all package names and versions that you have currently deployed
to run your application.
</p>

<p>
Difio will automatically monitor all packages on your account and generate
analytics when new version is available. Application dashboard gives you
access to all available analytics starting with the package versions you
have imported. For example:
</p>

<ul>
<li>You import an application containing the package foo-1.0.1;</li>
<li>foo-1.0.2 has already been released previously. Analysis between
foo-1.0.1 and foo-1.0.2 will be displayed for your application;</li>
<li>After a week foo-1.0.3 is released. Another analysis is generated
between foo-1.0.1 and foo-1.0.3.</li>
</ul>

<p>
Your dashboard uses text statuses and color codes to identify 
applications which need update and/or include older packages!
</p>

<h2>
Invite Friends
</h2>

<p>
Share the love and invite your hacker friends to try out Difio.
We don't spam!
</p>
</div>
